
.button {
    height: auto;
    width: auto;
    padding: 0.5rem 2.375rem;
    background-color: var(--element-background);
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 1.875rem;
    transition: .5s;
}

.button:hover {
    background-color: var(--element-hover);
}