.catalog-container {
    position: relative;
    padding: 30px 70px;
}

.catalog-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pets-bg {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 340px;
    height: 230px;
}