.header {
    border-bottom: 2px solid #ffc107;
    &__container {
        padding: 20px 0;
        display: flex;
    }
}

a {
    color: #000;
    text-decoration: none;
}
.column {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
